<!DOCTYPE html>
<html>
  <head>
    <title>Gestion Vol</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>

<nav class="navbar navbar-light justify-content-between">
    <div class="container">
        <a class="navbar-brand">
        <img src="/images/logo.png" class="logo" alt="logo" />
        </a>
        <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" href="#">Aide</a>
        </li>
        </ul>
    </div>
</nav>
