<%- include('header'); -%>

<div class="blank"></div>
<section class="container">
  <div class="section-home d-flex justify-content-center">
    <div>
      <div class="text-step font-weight-bold">Chercher</div>
      <div class="d-flex align-items-center">
        <div
          class="rounded-circle bg-danger d-flex justify-content-center align-items-center part-parent"
        >
          <div class="rounded-circle bg-danger part-child"></div>
        </div>
        <div class="bg-danger step"></div>
      </div>
    </div>

    <div>
      <div class="text-step font-weight-bold">Choisir</div>
      <div class="d-flex align-items-center">
        <div
          class="rounded-circle bg-danger d-flex justify-content-center align-items-center part-parent"
        >
          <div class="rounded-circle bg-danger part-child"></div>
        </div>
        <div class="bg-danger step"></div>
      </div>
    </div>
    <div>
      <div class="text-step font-weight-bold">Réserver</div>
      <div class="d-flex align-items-center">
        <div
          class="rounded-circle bg-danger d-flex justify-content-center align-items-center part-parent"
        >
          <div class="rounded-circle bg-danger part-child"></div>
        </div>
        <div class="bg-danger step"></div>
      </div>
    </div>
    <div>
      <div class="text-step font-weight-bold">Payer</div>
      <div class="d-flex align-items-center">
        <div
          class="rounded-circle bg-danger d-flex justify-content-center align-items-center part-parent"
        >
          <div class="rounded-circle bg-danger part-child"></div>
        </div>
      </div>
    </div>
  </div>
</section>

<h2 class="success_message container">votre commande a été afectuer avec success verfier votre email</h2>

<%- include('footer'); -%>
